button {
  float: right;
  margin: 10px;
}

legend {
  font-weight: bold;
  font-size: 12pt;
}

webview, iframe {
  height: 0px;
  width: 0px;
}

fieldset {
  margin: 10px;
}

#error {
  color: #f00;
  display: none;
}

#otherLabel {
  display: none;
}

#otherField {
  width: 60%;
}

#localeField {
  margin-right: 10px;
}

